body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.login-cont {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.col1 {
  width: 50%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #181818;
  align-items: center;
  overflow: scroll;
}

.col1-cont {
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  justify-content: center;
  margin-bottom: 8vh;
}

.logo-icon img {
  width: auto;
  height: 60px;
}

.logo-icon span {
  font-size: 24px;
  font-weight: 500;
  margin-left: 10px;
  letter-spacing: 8px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 80%;
  box-sizing: border-box;
}

label {
  color: #ccc;
  font-weight: 600;
}

.login-input {
  color: #ccc;
  background-color: #181818;
  border: 1px solid #555;
  padding: 10px;
  border-radius: 2px;
  font-size: 18px;
  outline: none;
}

.sign-in {
  color: #ccc;
  border: 1px solid #555;
  padding: 10px 0;
  border-radius: 2px;
  font-size: 18px;
  outline: none;
  background: #f96816;
  color: #fff;
  font-size: 14px;
  border: 1px solid #f96816;
  font-weight: 700;
  cursor: pointer;
}

.more-details {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  line-height: 2.5;
  justify-content: space-around;
}

.or {
  display: flex;
  align-items: center;
}

.or span {
  color: #ccc;
  padding: 0 12px;
}

.more-details a {
  text-decoration: none;
  color: #ffff;
  font-size: 14px;
}

.more-details a:hover {
  text-decoration: underline;
  color: #f96816;
}

.bar {
  flex: auto;
  border: none;
  height: 1px;
  background-color: #aaa;
}

a.sign-up {
  border: 1px solid #fff;
  padding: 5px 0;
  text-decoration: none;
  border-radius: 2px;
}

a.sign-up:hover, .getstarted:hover {
  border: 1px solid #f96816;
  color: #f96816;
  text-decoration: none;
}

.col2 {
  color: #fff;
  background-image: url(../images/login-bkg.jpg);
  min-height: 100vh;
  width: 50%;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(4, 4, 4, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
}

.col2 h1 {
  font-size: 45px;
  font-size: 45px;
  line-height: 1.7;
  font-weight: 500;
}

.getstarted {
  border: 1px solid #fff;
  padding: 10px 40px;
  text-decoration: none;
  margin: 0 auto;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 480px) {
  .col2 {
    display: none;
  }

  .col1 {
    width: 100%;
  }

  .login-form {
    width: 90%;
  }

  .more-details {
    width: 80%;
  }
}