html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0;
}

.post-cont {
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background: #000;
  align-items: center;
  padding: 10px 0;
  z-index: 2;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: fantasy;
}

a:hover {
  color: #499c86;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .cont {
  padding-top: 102px;
}

.cont {
  width: 80%;
  padding: 16px;
  margin: 0 auto;
}

form {
  text-align: center;
  width: 100%;
}

label {
  font-family: monospace;
  font-size: 18px;
}

select {
  background: #499c86;
  font-family: monospace;
  outline: none;
  color: white;
}

.post {
  width: 100%;
}

textarea {
  margin-top: 10px;
  padding: 40px 0;
  border-radius: 10px;
  border: 1px solid #5f9886;
  resize: none;
  outline: none;
  font-size: 14px;
  text-align: center;
  color: #9E9E9E;
  width: 90%;
}

.submit-form {
  width: 90%;
  border-radius: 50px;
  padding: 8px 0;
  margin-top: 10px;
  color: #fff;
  background: #499c86;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  border: 1px solid #499c86;
}

.submit-form:hover {
  opacity: 0.5;
}

::placeholder {
  font-size: 12px;
}

::placeholder {
  opacity: 0.8;
}

hr {
  border: 1px solid #f5f3f3;
  width: 100%;
}

h1.head-tit {
  text-align: center;
  font-family: monospace;
  color: #000;
  font-size: 18px;
}

.que-cont {
  width: 100%;
  overflow: scroll;
}

.que {
  background: #ffffff;
  padding: 10px;
  border-radius: 0 10px 0 10px;
  width: 90%;
  margin: 2px auto;
  line-height: 1.5;
  border: 1px solid #5e98860a;
}

.que h4 {
  margin: 0;
  color: #234237;
  font-size: 18px;
}

.que p {
  margin: 0;
  color: #4c4343;
  font-size: 16px;
  font-family: monospace;
}

.que span {
  cursor: pointer;
  font-size: 14px;
  font-family: sans-serif;
  color: #000;
}

.lke-que {
  display: flex;
  flex-direction: row;
}

.upvote {
  width: 40px;
  height: auto;
  background: #2cd29e;
  border-radius: 50px;
  cursor: pointer;
  opacity: 0.8;
}

.downvote {
  width: 40px;
  height: auto;
  background: #f9000096;
  border-radius: 50px;
  cursor: pointer;
  opacity: 0.8;
}

.downvote:hover, .upvote:hover {
  transform: scale(1.4);
  opacity: 1;
}

#comm {
  cursor: pointer;
  color: #9E9E9E;
}

#comm:hover {
  text-decoration: underline;
  color: #5f9886;
}

#comment {
  flex-direction: row;
  align-items: center;
  display: none;
}

.sub-comm {
  width: 25px;
  height: auto;
  margin-left: -40px;
  outline: none;
}

input.form-input {
  padding: 8px 10px;
  width: 95%;
  border: 1px solid #499c86;
  border-radius: 50px;
  font-size: 12px;
  color: #9E9E9E;
  outline: none;
}

input.form-input:hover {
  box-shadow: 0 0 5px #499c86;
}

img.logout-icon {
  width: 30px;
  height: auto;
}

img.logout-icon:hover {
  background: #4c4343;
  border-radius: 50px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .cont {
    width: 100%;
    padding: 0;
  }
}