body {
  margin: 0 0;
}

.prof-cont {
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background: #000;
  align-items: center;
  padding: 10px 0;
  z-index: 2;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .cont {
  padding-top: 102px;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: fantasy;
}

a:hover {
  color: #499c86;
}

.cont {
  width: 80%;
  padding: 16px;
  margin: 0 auto;
}

img.logout-icon {
  width: 30px;
  height: auto;
}

img.logout-icon:hover {
  background: #4c4343;
  border-radius: 50px;
}

.section1, .section2 {
  width: 100%;
}

.section1 h1, .section2 h1 {
  font-size: 25px;
  color: #081144;
  font-family: monospace;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  color: #499c86;
  margin: 0 auto;
  border: 3px solid #eee;
}

td, th {
  text-align: left;
  padding: 8px;
  font-weight: 100;
}

th.lab {
  color: #4a4141;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.feeds span {
  font-family: monospace;
  font-size: 16px;
  font-weight: bolder;
  color: #000;
}

.feeds {
  margin: 3px auto;
  padding: 10px 10px;
  background: #f0ffff29;
  border-radius: 10px;
  width: 90%;
  border: 1px solid #eee;
  line-height: 1.8;
}

.feeds h4 {
  margin-bottom: 0;
  color: #499c86;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.feeds p {
  margin: 0;
  color: #4a4141;
  font-size: 16px;
  font-family: monospace;
}

@media (min-width: 320px) and (max-width: 480px) {
  .cont {
    width: 100%;
    padding: 0;
  }
}