body {
  margin: 0;
  height: 100vh;
  background: #222;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #000000;
  box-shadow: 0 10px 20px 0 #00000033;
  padding: 10px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  padding: 0 20px;
  color: #ccc;
  font-weight: 100;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  background-color: #000;
  z-index: 1;
  text-align: center;
}

.dropdown-content a {
  color: #ccc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 300;
}

.user:hover {
  color: #fff;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #222;
  color: #ea722a;
}
.user:hover .dropdown-content {display: block;}

i.fas.fa-user-cog {
  font-size: 30px;
  color: #fff;
}

.questioner-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}

.questioner-logo img {
  width: auto;
  height: 40px;
}

.questioner-logo span {
  color: #fff;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
  text-shadow: 0 0 3px #fff;
}

.profile-wrapper {
  overflow-x: auto;
  width: 100%;
  padding-top: 100px;

}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 80%;
  background: transparent;
  box-shadow: 0 0 56px #9d260e14;
}

td {
  padding: 10px 10px;
  color: #ccc;
}

td:nth-child(even) {
  color: antiquewhite;
  font-size: 20px;
}

tr:hover {
  background-color: #cccccc63;
}

th {
  text-align: left;
  padding: 0 10px;
  font-size: 30px;
  color: #ea722a;
}

/* upcoming meetups */
#upcomind-mtps {
  width: 95%;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  grid-gap: 10px;
}

.upcoming-text {
  text-align: center;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.upcoming-text h1 {
  font-size: 20px;
}

.upcoming-cont {
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 0 26px #cccccc1a;
}

.up-header {
  padding: 20px 0;
  font-size: 30px;
  color: #ccc;
  text-align: center;
}

hr {
  margin-top: 50px;
  border: none;
  height: 1px;
  background: #ccc;
  width: 90%;
}

.meetup-cont {
  text-align: center;
  background: transparent;
  color: #ccc;
  min-height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #353535d9;
  box-shadow: 0 0 22px #eeeeee45;
}

#upcoming-meetups {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 30px;
  width: 90%;
  margin: 0 auto;
}

.meetup-text span {
  background-color: transparent;
  padding: 7px;
  color: #ccc;
  font-weight: 600;
  border-radius: 2px;
  border: 1px solid #eeeeee52;
}

.meetup-text h3 {
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

.meetup-text h3:hover {
  color: #ea722a;
}

.meetups-hori {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  text-align: center;
  grid-gap: 30px;
  justify-content: center;
}

.meetup-text {
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 10px;
  color: #fff;
}

.meetup-cont:hover {
  border: 1px solid #e4e4e4e7;
  opacity: 0.5;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0.8;
}

a.cte-meetup {
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
  #upcoming-meetups {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .meetup-cont {
    margin: 10px;
  }

  .meetup-text h3 {
    font-size: 16px;
    color: #dd7836;
  }

  .banner-text h1 {
    font-size: 30px;
  }

  .meetup-cont {
    border-bottom: 1px solid #ea722a;
  }

  .up-header {
    text-align: center;
  }

  .user span {
    display: none;
  }

  table {
    width: 90%;
    margin: 0 auto;
  }

  th {
    font-size: 24px;
  }

  td {
    padding: 10px 0;
    font-size: 12px;
  }

  td:nth-child(even) {
    font-size: 12px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  #upcoming-meetups {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}